.hero {
    padding-top: 64px;
    padding-bottom: 100px;

    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .7;
    }

    &__text {
        color: #ffffff;
        margin-top: 64px;
        margin-bottom: 64px;

        line-height: 56px;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        display: block;
        height: 80px;
    }

    &__info {
        padding: 16px 24px;
        background-color: #fff;
        color: #000;

        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
            gap: 40px;
            list-style-type: none;
            
            &__item {
                display: block;

                h3 {
                    font-size: 18px;
                    line-height: 22px;
                    padding-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        @media (max-width: 640px) {
            display: block;

            &__list {
                display: block;

                &__item {
                    margin-bottom: 24px;
                }
            }
        }

        @media (max-width: 1024px) {
            &__list {
                gap: 16px;
            }
        }
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}