@use 'hero';
@use 'event';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    color: #fff;

    @media (max-width: 640px) {
        max-width: 80%;
    }
    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    display: flex;
    align-items: center;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: #4F2AC3;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}